<ion-view title="Akuelle Rechnungen">
    <ion-content on-swipe-left="goToPage('aktuelleRechnungen')" on-swipe-up="goToPage('abrechnungsliste')"  overflow-scroll="true" padding="true" class="has-header">
        <div >
            <p>
                <strong>In Beareitung</strong>
            </p>
        </div>
        <form class="list"></form>
        <ion-list>
            <ion-item>Eingereicht 24 24.215,55$</ion-item>
            <ion-item>Erfasst 0 0$</ion-item>
        </ion-list>
        <div>
            <hr>
        </div>
        <ion-list>
            <ion-item>24.215,55$</ion-item>
        </ion-list>
        <div>
            <p>
                <strong>Versandet</strong>
            </p>
        </div>
        <ion-list>
            <ion-item>InnerHalb 48 7.321,32$</ion-item>
            <ion-item>1.Mahnung 10 823,23$</ion-item>
            <ion-item>2.Mahnung 3 671,43$</ion-item>
        </ion-list>
        <ion-list>
            <ion-item>Zugezetst(C,E,...) 35 5.329,32$</ion-item>
        </ion-list>
        <div>
            <p>
                <strong>Beitreibung</strong>
            </p>
        </div>
        <ion-list>
            <ion-item>In Vorbereitung 0 0$</ion-item>
            <ion-item>Beim Anwalt 0 50.32$</ion-item>
        </ion-list>
    </ion-content>
</ion-view>